[submodule "molpy"]
	path = molpy
	url = https://github.com/Roy-Kid/molpy.git
[submodule "molnex"]
	path = molnex
	url = https://github.com/Roy-Kid/molnex.git
[submodule "molexp"]
	path = molexp
	url = https://github.com/Roy-Kid/molexp.git
[submodule "molvis"]
	path = molvis
	url = https://github.com/Roy-Kid/molvis.git
[submodule "molcpp"]
	path = molcpp
	url = https://github.com/Roy-Kid/molcpp.git
